@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
* {
  font-family: "Manrope", sans-serif;
}

.navbar.navbar-expand-lg.navbar-dark {
  background-color: #ffffff;
  width: 100vw;
}
.navbar.navbar-expand-lg.navbar-dark .navbar-nav.ml-auto .nav-link {
  line-height: 60px;
  padding: 0 10px !important;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.035rem;
  color: #090a0c;
  transition: color 0.03s;
  -webkit-transition: color 0.03s;
  -moz-transition: color 0.03s;
  -ms-transition: color 0.03s;
  -o-transition: color 0.03s;
}
.navbar.navbar-expand-lg.navbar-dark .navbar-nav.ml-auto .nav-link:visited {
  color: #090a0c;
}
.navbar.navbar-expand-lg.navbar-dark .navbar-nav.ml-auto .nav-link:focus, .navbar.navbar-expand-lg.navbar-dark .navbar-nav.ml-auto .nav-link:active {
  color: #D9832E;
}
.navbar.navbar-expand-lg.navbar-dark .container .lead {
  color: #090a0c;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.035rem;
}

.navbar-toggler-icon {
  color: #000000 !important; /* Black color */
}

.home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home h2 {
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.4px;
}
.home .btn.btn-primary {
  background-color: transparent !important;
  padding: 0;
  color: #090a0c;
  border: none;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.035rem;
}
.home .container-lg {
  width: 80vw;
  position: absolute;
  top: 80%;
  z-index: 1000;
}
.home .container .btn-container .btn.home-btn {
  padding: 6px 30px;
  box-shadow: 1px 3px 8px 1px #cecbc8;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.home .container .btn-container #btn-cv {
  border: 2px solid #d1904e;
}
.home .container .btn-container #btn-cv a {
  color: #532c05;
  font-weight: 600;
  text-decoration: none;
}
.home .container .btn-container #btn-contact {
  color: rgba(83, 44, 5, 0.7764705882);
  border: 2px solid #969390;
}

.aboutMe {
  display: none;
  width: 100%;
  height: auto;
  padding-top: 110px;
  color: rgba(9, 10, 12, 0.8431372549);
  opacity: 1;
  transition: opacity 1s ease;
}
.aboutMe .hidden {
  opacity: 0;
}
.aboutMe .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutMe .container-lg h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: rgba(9, 10, 12, 0.8431372549) !important;
}
.aboutMe h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: 0.035rem;
}
.aboutMe .underline {
  width: 30px;
  border-bottom: 2px solid #D9832E;
}
.aboutMe p {
  padding: 1% 0;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
}

.container-lg.description span {
  color: #D9832E;
}
.container-lg.description h6 {
  font-weight: 400;
  letter-spacing: 0.035rem;
}
.container-lg.description h4 {
  font-weight: 600;
  letter-spacing: 0.035rem;
}
.container-lg.description p {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.035rem;
  text-transform: none;
}
.container-lg.description .row .btn {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #D9832E;
  border: none;
  font-size: 15px;
  font-weight: 500;
  border-radius: none !important;
  -webkit-border-radius: none !important;
  -moz-border-radius: none !important;
  -ms-border-radius: none !important;
  -o-border-radius: none !important;
}
.container-lg.description .row .media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 6px;
}
.container-lg.description .row .media label {
  width: 90px;
  font-weight: 700;
  padding: 0 10px 0 0;
  border-right: 1px solid rgba(0, 0, 0, 0.3098039216);
  margin: 0;
}
.container-lg.description .row .media p {
  font-size: 15px;
  padding: 0 0 0 10px;
  margin: 0;
}

.portfolio {
  width: 100%;
  height: auto;
  padding-top: 110px;
}
.portfolio .container-lg h1 {
  color: rgba(9, 10, 12, 0.8431372549) !important;
}
.portfolio .container-lg .card .card-body .heading-title {
  color: #D9832E;
}
.portfolio .container-lg .card .card-body .card-title a {
  text-decoration: none;
  color: rgba(9, 10, 12, 0.8431372549);
  font-weight: 600;
}
.portfolio .container-lg .card .card-body .card-text {
  line-height: 23px;
  text-align: justify;
  color: rgba(9, 10, 12, 0.6117647059);
}
.portfolio .container-lg .card .card-body .card-text a {
  text-decoration: none;
  color: rgba(9, 10, 12, 0.8431372549);
  font-weight: 600;
}
.portfolio .container-lg .card .card-body .card-text small:hover {
  color: #D9832E;
}
.portfolio .container-lg .card .card-body .card-text small:hover a {
  color: #D9832E;
}
.portfolio .container-lg .card .card-body .heading-title {
  color: #D9832E;
}
.portfolio .container-lg .card .card-body .card-title a {
  text-decoration: none;
  color: rgba(9, 10, 12, 0.8431372549);
  font-weight: 600;
}
.portfolio .container-lg .card .card-body .card-text {
  line-height: 23px;
  text-align: justify;
  color: rgba(9, 10, 12, 0.6117647059);
}
.portfolio .container-lg .card .card-body .card-text a {
  text-decoration: none;
  color: rgba(9, 10, 12, 0.8431372549);
  font-weight: 600;
}
.portfolio .container-lg .card .card-body .card-text small:hover {
  color: #D9832E;
}
.portfolio .container-lg .card .card-body .card-text small:hover a {
  color: #D9832E;
}

.survey .card .card-body {
  background-color: #FFFBF5;
  color: rgba(9, 10, 12, 0.8431372549);
}
.survey .card .card-body .card-title {
  color: rgba(9, 10, 12, 0.8431372549);
  font-weight: 600;
  font-size: 28px;
}
.survey .card .card-body .card-text {
  line-height: 23px;
  text-align: justify;
  color: rgba(9, 10, 12, 0.6117647059);
  text-decoration: none;
}

.cover-image {
  padding-top: 110px;
}
.cover-image .container-lg span {
  color: rgba(0, 0, 0, 0.5529411765);
  font-size: 12px;
  letter-spacing: 0.035rem;
  text-align: justify;
}
.cover-image .container-lg .row .col-12.col-sm-6 a {
  text-decoration: none;
  color: #D9832E;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.035rem;
}

/*# sourceMappingURL=styles.css.map */
